<div class="activities">
    <div class="container">
        <div class="activities-head">
        <strong>Our Activities</strong>
        <h2>a group that connects with krishna</h2>
    </div>
    <div class="row justify-content-between padding px-md-0">
        <div class="col-12 col-md-6 col-lg-4 activities_wapper">
            <div>
                <div class="icon">
                    <i class="fa-solid fa-hands-praying"></i>
                </div>
                <h3>Darshan</h3>
                <p>Darshan, which in Sanskrit means ‘viewing’, holds immense significance in Indian philosophy and religious beliefs. Darshan consists of beholding a deity, especially in image form. Devotees believe that by having darshan of the Deity's image, one receives the positive energy that is given by the deity, also known as blessings.</p>
                <a href="javascript:void();">Read More...</a>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 activities_wapper">
            <div>
                <div class="icon">
                    <i class="fa-solid fa-music"></i>
                </div>
                <h3>Kirtan</h3>
                <p>Kirtan, a form of devotional call-and-response chanting popularized in India five hundred years ago by Sri Chaitanya Mahaprabhu, is regularly practiced by ISKCON devotees and has now spread throughout the world through the efforts of the Vaishnava community.</p>
                <a href="javascript:void();">Read More...</a>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 activities_wapper">
            <div>
                <div class="icon">
                    <i class="fa-solid fa-hands-praying"></i>
                </div>
                <h3>Prasadam</h3>
                <p>It is an expression of love, devotion and compassion in the form of food items. Devotees who aspire to pure consciousness, Individuals prepare food for the Lord and then offer it to the Lord with love and devotion.</p>
                <a href="javascript:void();">Read More...</a>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 activities_wapper">
            <div>
                <div class="icon">
                    <i class="fa-solid fa-hands-praying"></i>
                </div>
                <h3>Bhagavad Gita</h3>
                <p>The Bhagavad Gita, an ancient sacred text of India, is universally regarded as a major source of spiritual wisdom and inspiration for mankind. Spoken directly by Lord Shri Krishna to his intimate friend Arjuna, the seven hundred verses of the Bhagavad Gita provide a definitive guide to the science of self-realization.</p>
                <a href="javascript:void();">Read More...</a>
            </div>
        </div>
    </div>

    </div>
</div>