<div class="aboutus">
    <div class="container">
        <div class="about-heading">
            <h3 class="text-center">Who we are</h3>
        </div>
        <div class="row align-items-center py-4">
            <div class="col-12 col-lg-4">
                <figure>
                    <img class="d-none d-lg-block" src="..//../assets/images/about_us.jpg" alt="about_us">
                    <img class="d-lg-none mobile-img" src="..//../assets/images/about_us_mobile.jpg" alt="about_us">
                </figure>
            </div>
            <div class="col-12 col-lg-8">
                <div>
                <p> We are a community of passionate devotees dedicated to celebrating and exploring the profound teachings, stories, and wisdom of Lord Krishna. Our group is a sanctuary where individuals from all walks of life come together to share their love, devotion, and knowledge of this divine and enchanting deity.</p>
                <p>
                   <strong>Our Mission :</strong>
                    Our mission is to foster a space of spiritual growth, learning, and connection centered around the teachings of Lord Krishna. Through various discussions, events, and shared experiences, we aim to deepen our understanding of the Bhagavad Gita, the Mahabharata, and the rich tapestry of Krishna's life.
                    </p>
                    <p>
                        <strong>What We Offer :</strong>
                        <strong>-Satsangs (Spiritual Gatherings)</strong> Join us for enlightening discussions and satsangs where we delve into the timeless wisdom of Lord Krishna's teachings. Engage in meaningful conversations that inspire personal growth and transformation.

                    </p>
                    <p>
                        <strong>Chanting and Bhajan Sessions :</strong>
                       Experience the power of devotional chanting and bhajans. Our group hosts sessions where we collectively chant Krishna's names and sing praises to invoke a sense of inner peace and connection.

                    </p>
                </div>
            </div>
        </div>
       
    </div>
</div>