
        <div class="fastival">
            <div class="container">
                <div class="fastival-head">
                <strong>Our fastival</strong>
                <h3>Celebrate With Us</h3>
            </div>
            <div class="row justify-content-between padding px-md-0">
                <div class="col-12 col-lg-6  fastival_wapper">
                    <div class="row">
                        <!-- <div class="icon">
                            <i class="fa-solid fa-hands-praying"></i>
                        </div> -->
                        <div class="fastival_img mb-2 col-12 col-md-4 text-center">
                            <img src="..//../assets/images/Gaura-Purnima.png" alt="">
                        </div>
                        <div class="col-12 col-md-8">
                        <h3>Gaur Purnima</h3>
                        <p>This festival celebrates the appearance of Lord Chaitanya Mahaprabhu. It is observed annually (in late February or March) by Krishna devotees all over the world—especially in the area of Mayapur, India, the place where He appeared in the year 1486.</p>
                        <a href="javascript:void();">Read More...</a>
                    </div>
                </div>
                </div>
                <div class="col-12 col-lg-6  fastival_wapper ">
                    <div class="row">
                        <!-- <div class="icon">
                            <i class="fa-solid fa-hands-praying"></i>
                        </div> -->
                        <div class="fastival_img mb-2 col-md-4 text-center">
                            <img src="..//../assets/images/about_us.jpg" alt="">
                        </div>
                        <div class="ol-12 col-md-8">
                        <h3>Darshan</h3>
                        <p>Darshan, which in Sanskrit means ‘viewing’, holds immense significance in Indian philosophy and religious beliefs. Darshan consists of beholding a deity, especially in image form. Devotees believe that by having darshan of the Deity's image, one receives the positive energy that is given by the deity, also known as blessings.</p>
                        <a href="javascript:void();">Read More...</a>
                    </div>
                </div>
                </div>

                <div class="col-12 col-lg-6  fastival_wapper ">
                    <div class="row">
                        <!-- <div class="icon">
                            <i class="fa-solid fa-hands-praying"></i>
                        </div> -->
                        <div class="fastival_img mb-2 col-md-4 text-center">
                            <img src="..//../assets/images/Lord-Narasimha.webp" alt="">
                        </div>
                        <div class="ol-12 col-md-8">
                        <h3>Darshan</h3>
                        <p>Darshan, which in Sanskrit means ‘viewing’, holds immense significance in Indian philosophy and religious beliefs. Darshan consists of beholding a deity, especially in image form. Devotees believe that by having darshan of the Deity's image, one receives the positive energy that is given by the deity, also known as blessings.</p>
                        <a href="javascript:void();">Read More...</a>
                    </div>
                </div>
                </div>


                <div class="col-12 col-lg-6  fastival_wapper ">
                    <div class="row">
                        <!-- <div class="icon">
                            <i class="fa-solid fa-hands-praying"></i>
                        </div> -->
                        <div class="fastival_img mb-2 col-md-4 text-center">
                            <img src="..//../assets/images/about_us.jpg" alt="">
                        </div>
                        <div class="ol-12 col-md-8">
                        <h3>Darshan</h3>
                        <p>Darshan, which in Sanskrit means ‘viewing’, holds immense significance in Indian philosophy and religious beliefs. Darshan consists of beholding a deity, especially in image form. Devotees believe that by having darshan of the Deity's image, one receives the positive energy that is given by the deity, also known as blessings.</p>
                        <a href="javascript:void();">Read More...</a>
                    </div>
                </div>
                </div>
            </div>
        
            </div>
        </div>